</body> <%# Closes the body tag opened in mainHeader.ejs %>
<footer>
    <p>this page is copyright claimed by TravelExperts 2023 &copy;</p>
</footer>

</html> <%# Closes the html tag opened in mainHeader.ejs %>
