<%# HTML written by Sergey Chitsvarin %>
<!DOCTYPE html>
<html> 
    <head>   
        <title>Travel Experts</title>

        <link rel="stylesheet" href="homePageStyle.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com"/>
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner&family=Ephesis&display=swap" rel="stylesheet" />  
        <script>
            function logOut(){ <%# Submits the Logout POST%>
                document.getElementById('hiddenform').submit();
            }
            function logInScreen(){ <%# Make the login popup and screen blur visible %>
                document.getElementById("screenblur").style.visibility = 'visible';
                document.getElementById("loginpopup").style.visibility = 'visible';
            }
            function closeLogIn(){ <%# Make the login popup and screen blur invisible %>
                document.getElementById("screenblur").style.visibility = 'hidden';
                document.getElementById("loginpopup").style.visibility = 'hidden';
            }
            function validateLogIn(myform){ <%# Check for input in the login form before submitting the post %>
                const checkForms = []; <%# An array that will hold every form elem that needs to be validated %>
                var errorMessage = ""; <%# A string that becomes the innerhtml of the loginValText div %>
                checkForms.push(document.getElementById("tusername")); 
                checkForms.push(document.getElementById("tpassword"));
                for(var elem of checkForms){ // https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/for...of <- where i learned the for..of syntax for js
                    if (elem.value == ""){ <%# If the form input is empty %>
                        errorMessage += "Please enter a " + elem.placeholder + ".<br>"; 
                        elem.style.borderColor = "red";
                    }
                }
                if (!errorMessage)
                {
                    return true; <%# Check for input in the login form before submitting the post %>
                }
                else
                {
                    document.getElementById("loginValText").innerHTML = errorMessage
                    return false;
                }
            }

        </script>
        <form id="hiddenform" action="/logout" method="POST" style="display: none;"> <%# This form is hidden and requires no data, POSTs the logout command when submitted%> 
        </form>
    </head>
    <header>
        <div class="headText"> 
            <img src="Logo.png" alt="Logo for our company" />
            <h1>Welcome to Travel Experts</h1>
            <h1 class="vacation">Your Dream Vacation Starts Here </h1>
        </div>
        <!--images-->
    </header>
    <body>
        <div class="screenblur" id="screenblur"></div> <%# This div is used in multiple places and remains hidden unless a hidden div is being displayed %> 
        <div class="popup" id="loginpopup"> <%# This div is hidden until the user attempts to login%> 
            <button class="closebutton" onclick="closeLogIn()">&#10006;</button>
            <h1>Log In</h1>
            <form method="post" action="/login" class="formClass" onSubmit="return (validateLogIn(this));"> <%# This form triggers the LOGIN POST %> 

                <input type='text' id='tusername' name="tUsername" placeholder="Username"/>
                <br><input type='password' id='tpassword' name="tPassword"  placeholder="Password"/>
                <br><button type="submit">Log In</button>
                <br><br><div id="loginValText"><br></div>
                <br><p class="loginlink"><i>Dont have an account? <a href="/registration" onclick="closeLogIn()">Register Here</a></i></p>
            </form>
        </div>
        
        <nav>
            <ul type="none" class="menu">
                <%if (pageType == "homePage") { %> <%# pageType is sent by index.js to properly highlight the selected nav option %> 
                    <li class="menuItem"><a href="/" class="active">Home Page</a> </li>
                <% } else { %>
                    <li class="menuItem"><a href="/" class="inactive">Home Page</a> </li>
                <% } %>
                <%if (pageType == "contactPage") { %>
                    <li class="menuItem"><a href="/contact" class="active">Contact Us</a> </li>
                <% } else { %>
                    <li class="menuItem"><a href="/contact" class="inactive">Contact Us</a> </li>
                <% } %>
                <%if (pageType == "G2_Vacationpackage") { %>
                    <li class="menuItem"><a href="/packages" class="active">Vacation Packages</a> </li>
                <% } else { %>
                    <li class="menuItem"><a href="/packages" class="inactive">Vacation Packages</a> </li>
                <% } %>
                <%if (username) { %> <%# If logged in, display the profile page instead of the registration button. %>
                    <%if (pageType == "profilePage") { %>
                        <li class="menuItem"><a href="/profile" class="active">Your Profile</a> </li>
                        <li class="menuItem"><a href="#" onclick="logOut()" class="inactive">Log Out</a> </li>
                    <% } else { %>
                        <li class="menuItem"><a href="/profile" class="inactive">Your Profile</a> </li>
                        <li class="menuItem"><a href="#" onclick="logOut()" class="inactive">Log Out</a> </li>
                    <% } %>
                <%} else if (pageType == "custregister") { %> <%# If not logged in, display the registration button instead of the profile button. %>
                    <li class="menuItem"><a href="/registration" class="active">Register</a> </li>
                    <li class="menuItem"><a href="#" onclick="logInScreen()" class="inactive">Log In</a> </li>
                <% } else { %>
                    <li class="menuItem"><a href="/registration" class="inactive">Register</a> </li>
                    <li class="menuItem"><a href="#" onclick="logInScreen()" class="inactive">Log In</a> </li>
                <% } %>        
            </ul>
        </nav>
