<%- include('partials/mainHeader') %>
<%# Primary File Author: Michael Chessall %>
<script src="registerJS.js"></script> <%# Include all the functions in registerJS.js ; this is for readability. %>
<div class="pageContentCenter"> 
    <br><br>
    <div class ="loginButtons"> 
        <a class="signupbutton" href="#" onclick="registerScreen()"class="inActive">Register</a> </li> <%# When clicked, draw the register screen. %>
    </div>
    <h1>And start planning your next trip.</h1><br>
    <div class="popup" id="registerpopup"> <%# This remains hidden until the user tries to register an account %>
        <button class="closebutton" onclick="closeRegister()">&#10006;</button> <%# Hides the register popup. %>
        <h1>Register</h1>
        <form method="post" action="/registration" class="formClass" onSubmit="return validateForm(this);"> <%# When submitted, this validates the from and then POSTs an attempt to register the account. %>
            <input type="text" id="firstname" name="FirstName" placeholder="First Name"/>
            <input type="text" id="lastname" name="LastName" placeholder="Last Name"/><br>
            <input type="text" id="city" name="City" placeholder="City"/>
            <select id="prov" name="Province">
                <option value="AB">Alberta</option>
                <option value="SK">Saskatchewan</option>
                <option value="YK">Yukon</option>
            </select>   
            <br><input type="text" id="streetaddress" name="StreetAddress" placeholder="Street Address"/>
            <input type="text" id="pcode" name="PostalCode" size=10 placeholder="Postal Code" onfocus="drawReqPopup(this)" onblur="hideReqPopup(this)"/>
            <br><input type="email" id="custemail" name="Email" placeholder="Email">
            <input type="tel" id="custtel" name="PhoneNumber" placeholder="Phone Number" onfocus="drawReqPopup(this)" onblur="hideReqPopup(this)"/>
            <br><input type="tel" id="buistel" name="BusinessPhone" placeholder="*Optional Business Phone"  onfocus="drawReqPopup(this)" onblur="hideReqPopup(this)"/>
            <br><br><input type='text' id='username' name="Username" placeholder="Username" onfocus="drawReqPopup(this)" onblur="hideReqPopup(this)"/>
            <br><input type='password' id='password' name="Password"  placeholder="Password" onfocus="drawReqPopup(this)" onblur="hideReqPopup(this)"/>
            <input type='password' id='confpassword' name="ConfirmationPassword"  placeholder="Retype Password" onfocus="drawReqPopup(this)" onblur="hideReqPopup(this)"/>
            <br><br><button type="submit">Sign Up</button>
            <button type="reset" onclick="return confirm('Did you really want to reset?')">Reset</button>
            <br><p class="loginlink"><i>Already have an account? <a href="#" onclick="loginScreen()">Login Here</a></i></p>
        </form>
        <div class="requirementspopup" id="requirementspopup"></div>
        <div class="validationpopup" id="validationpopup"><br><br></div>
    </div>
    <div class="img1" align="center"> <%# These images were found by Gurleen for use in the Packages page, but later moved here for design reasons. %>
        <img src="11maldives.png">
        <img src="11lasvegas.png">
        <img src="11spain.png">
        <img src="11japan.png">
        <img src="11hawaii.png">
    </div>
    <br><hr><br>
    
    <%if (usernameError) { %> <%# If this is a usernameError redirect, draw the register screen and have it show a special username in use error. %>
        <script>
            registerScreen()
            drawValPopup("That username is already in use! Please select another.")
        </script>
    <% } %>   
</div>
<%- include('partials/mainFooter') %>
